<h1>{{ title }}</h1>
<form>
  Name:
  <input type="text" name="name" [(ngModel)]="name" /><br />
  Surname:
  <input type="text" name="surname" [(ngModel)]="surname" /><br />
  <input type="submit" value="Register" (click)="registerUser()" /><br />
</form>

<br />

<!-- Directive:   ngIF    -->
<p *ngIf="registered; else noRegister">
  {{ message }}, with Name: {{ name }}and Surname {{ surname }}.
</p>

<ng-template #noRegister>
  <p>No one has registered yet...</p>
</ng-template>

<!-- Directive:   ng For      -->

<br /><br />

<ul>
  <li *ngFor="let entry of entries; let i = index">
    {{ entry.name }}---{{ i + 1 }}
  </li>
</ul>
